<a href="/" class="hover:underline underline-offset-2">Terms of Service</a><a href="/"
    class="hover:underline underline-offset-2">Privacy Policy</a><a href="/"
    class="hover:underline underline-offset-2">Cookie Policy</a><a href="/"
    class="hover:underline underline-offset-2">Accessibilty</a><a href="/"
    class="hover:underline underline-offset-2">Ads info</a><a href="/"
    class="flex justify-center hover:underline underline-offset-2">More
    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5 rotate-90">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
        </svg> </span></a><span class="">© 2023 Twitter, Inc.</span>