<div>
    <div class="relative" id="tweet_modal_parent_{{tweet['tweet_id']}}">
        <div onclick="handleTweetModal();"
            class=" ml-auto hover:text-sky-600 text-sm items-center hover:underline underline-offset-2 cursor-pointer hover:bg-twitterblue/[0.15] transition ease-in-out rounded-full h-fit"
            value="ellipses" data-name="tweetmodal">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 rotate-90 cursor-pointer group-hover:stroke-bg-twitterblue transition ease-in-out z-10 pointer-events-none">
                <path class="pointer-events-none" stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
            </svg>

        </div>
        <!-- Tweet Modal content -->
        <div class="hidden absolute top-0 right-0 mt-6 w-[310px] bg-black shadow-[0_0px_15px_1px_rgba(255,255,255,0.3)] rounded-xl"
            class="modalTweet">
            <!-- Button for logged users -->
            % if logged_user:
            % if tweet['tweet_user_fk'] == logged_user['user_id']:
            <ul class="py-2 px-4">
                <li class="text-[#F4212E] text-[15px font-semibold ">

                    <button class="flex w-full" onclick="deleteTweet(); return false" value="{{tweet['tweet_id']}}">

                        <svg class="pointer-events-none" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"
                            class="r-9l7dzd r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"
                            width="24" height="24">
                            <g fill="#F4212E">
                                <path
                                    d="M16 6V4.5C16 3.12 14.88 2 13.5 2h-3C9.11 2 8 3.12 8 4.5V6H3v2h1.06l.81 11.21C4.98 20.78 6.28 22 7.86 22h8.27c1.58 0 2.88-1.22 3-2.79L19.93 8H21V6h-5zm-6-1.5c0-.28.22-.5.5-.5h3c.27 0 .5.22.5.5V6h-4V4.5zm7.13 14.57c-.04.52-.47.93-1 .93H7.86c-.53 0-.96-.41-1-.93L6.07 8h11.85l-.79 11.07zM9 17v-6h2v6H9zm4 0v-6h2v6h-2z"
                                    fill="#F4212E"></path>
                            </g>
                        </svg>

                        <p class="ml-2 pointer-events-none">Delete</p>

                    </button>

                </li>
            </ul>
            % end
            <!-- Button for other users -->

            % if not tweet['tweet_user_fk'] == logged_user['user_id']:
            <ul class="py-2 px-4">
                <li class="text-[#E7E9EA] text-[15px font-semibold " id="{{tweet['user_username']}}_parent">
                    % if not tweet.get('followee_id'):
                    <form method="POST" id="{{tweet['user_username']}}_tweet_form" onsubmit="follow(); return false">
                        <input id="followInput" style="display:none;" type="text" name="username"
                            value="{{tweet['user_username']}}">
                        <button class="flex flex-row-reverse justify-end w-full" id="tweet_modal_follow">
                            Follow @{{tweet['user_username']}}
                            <input style="display:none;" type="text" name="username" value="{{tweet['user_username']}}">
                            <svg class="pointer-events-none mr-2" xmlns:xlink="http://www.w3.org/1999/xlink"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"
                                class="r-1nao33i r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"
                                width="24" height="24">
                                <g fill="#E7E9EA">
                                    <path class=" pointer-events-none"
                                        d="M10 4c-1.105 0-2 .9-2 2s.895 2 2 2 2-.9 2-2-.895-2-2-2zM6 6c0-2.21 1.791-4 4-4s4 1.79 4 4-1.791 4-4 4-4-1.79-4-4zm13 4v3h2v-3h3V8h-3V5h-2v3h-3v2h3zM3.651 19h12.698c-.337-1.8-1.023-3.21-1.945-4.19C13.318 13.65 11.838 13 10 13s-3.317.65-4.404 1.81c-.922.98-1.608 2.39-1.945 4.19zm.486-5.56C5.627 11.85 7.648 11 10 11s4.373.85 5.863 2.44c1.477 1.58 2.366 3.8 2.632 6.46l.11 1.1H1.395l.11-1.1c.266-2.66 1.155-4.88 2.632-6.46z"
                                        fill="#E7E9EA"></path>
                                </g>
                            </svg>
                        </button>
                    </form>
                    % end
                    % if tweet.get('followee_id'):
                    <form method="POST" id="{{tweet['user_username']}}_tweet_form" onsubmit="unfollow(); return false">
                        <input id="followInput" style="display:none;" type="text" name="username"
                            value="{{tweet['user_username']}}">
                        <button class="flex w-full" id="tweet_modal_unfollow">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" aria-hidden="true"
                                class="r-1nao33i r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"
                                width="24" height="24">
                                <g fill="#E7E9EA">
                                    <path
                                        d="M10 4c-1.105 0-2 .9-2 2s.895 2 2 2 2-.9 2-2-.895-2-2-2zM6 6c0-2.21 1.791-4 4-4s4 1.79 4 4-1.791 4-4 4-4-1.79-4-4zm12.586 3l-2.043-2.04 1.414-1.42L20 7.59l2.043-2.05 1.414 1.42L21.414 9l2.043 2.04-1.414 1.42L20 10.41l-2.043 2.05-1.414-1.42L18.586 9zM3.651 19h12.698c-.337-1.8-1.023-3.21-1.945-4.19C13.318 13.65 11.838 13 10 13s-3.317.65-4.404 1.81c-.922.98-1.608 2.39-1.945 4.19zm.486-5.56C5.627 11.85 7.648 11 10 11s4.373.85 5.863 2.44c1.477 1.58 2.366 3.8 2.632 6.46l.11 1.1H1.395l.11-1.1c.266-2.66 1.155-4.88 2.632-6.46z"
                                        fill="#E7E9EA"></path>
                                </g>
                            </svg>

                            <p class="ml-2">Unfollow @{{tweet['user_username']}}
                            </p>
                        </button>
                    </form>
                    % end
                </li>
            </ul>
            % end

            % end
        </div>
    </div>
    <!-- Tweet Overlay modal -->
    <div class="hidden fixed  top-0 left-0 w-full h-full bg-white opacity-0" data-name="overlay"
        onclick="handleTweetModal()">
    </div>
</div>