% if not logged_user:
<div
    class="w-full h-[70px] border-t border-bordergray bg-black md:bg-twitterblue flex justify-center xxl:px-[150px] fixed bottom-0">

    <article class="lg:w-[60px] xl:w-[275px] h-full"></article>
    <article class="hidden w-[650px] md_lg:flex flex-col items-start justify-center text-white leading-6">
        <p class="text-[23px] font-bold ">Don't miss what's happening</p>
        <p class="text-fif">People on Twitter are the first to know</p>
    </article>

    <article
        class="flex w-full justify-center md_lg:justify-end items-center lg:w-[290px] lg:ml-8 [&>*]:w-[45%] xl:w-[350px] md_lg:[&>*]:border-white text-center md_lg:[&>*] [&>*]:py-1  md_lg:[&>*]:py-2 outline-1 [&>*]:border    md:[&>*]:border [&>*]:h-fit [&>*]:rounded-full [&>*]:font-semibold [&>*]:text-13 md_lg:[&>*]:w-[70px]">
        <a href="" onclick="showModal(); return false" class="md:text-white mr-2 text-bg-twitterblue">Log in</a>
        <a href="/sign-up" class="md:bg-white bg-twitterblue text-white md:text-black">Sign up</a>
    </article>

</div>

% end